[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/twenty-twenty"]
	path = themes/twenty-twenty
	url = https://github.com/themefisher/twenty-twenty-hugo.git
